src/main/resources/features.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT copy (#PCDATA)>
<!ELEMENT feature (seriesTitle?, programmeTitle?, copy?)>
<!ATTLIST feature
	id CDATA #REQUIRED
	programmeID CDATA #REQUIRED
	created CDATA #REQUIRED
	modified CDATA #REQUIRED
	type (long | short) #REQUIRED
>
<!ELEMENT features (feature+)>
<!ELEMENT programmeTitle (#PCDATA)>
<!ELEMENT seriesTitle (#PCDATA)>
